%h2=t('hello')
%p=t('where')
%form.trip_description
  %input{:list => "when", :type => "text"}/
  %datalist#when
    %option
      Today
    %option
      Tomorrow
    %option
      This weekend
    %option
      Next week
    %option
      In two weeks
    %option
      In three weeks
    %option
      Next month
  =t('i_am_leaving')
  %input{:list => "origin", :type => "text"}/
  %datalist#origin
    %option
      San Francisco
    %option
      San Jose
  =t('to_go_to')
  %input{:list => "destination", :type => "text"}/
  %datalist#destination
    %option
      San Francisco
    %option
      San Jose
  \.
